version: '3'
services:

  fluentd:
    build: .
    ports:
      - "24224:24224"

  logger:
    image: alpine:latest
    command: sh -c 'while true; do date +"hello world!"; sleep 1; done'
    logging:
      driver: fluentd
      options:
        fluentd-address: localhost:24224
        tag: logger
