version: '3'
services:

  fluentd:
    build: .
    environment:
      AWS_ACCESS_KEY_ID: YOUR_ACCESS_KEY_ID
      AWS_SECRET_ACCESS_KEY: YOUR_SECRET_ACCESS_KEY
      S3_REGION: local
      S3_BUCKET: logBucket
    volumes:
      - $PWD/buffer:/var/log/fluent/s3
    ports:
      - "24224:24224"

  logger:
    image: alpine:latest
    command: sh -c 'while true; do date +"[%a %d %b %Y %T,000 %z] test"; sleep 1; done'
    logging:
      driver: fluentd
      options:
        fluentd-address: localhost:24224
        tag: logger

  s3mock:
    image: adobe/s3mock:latest
    environment:
      initialBuckets: logBucket
    ports:
      - "9090:9090"
      - "9191:9191"
