version: '3'
services:

  fluentd:
    build: .
    ports:
      - "24224:24224"

  logger1:
    image: alpine:latest
    command: sh -c 'while true; do date +"[%a %d %b %Y %T,000 %z] logger1"; echo logger1; done'
    logging:
      driver: fluentd
      options:
        fluentd-address: localhost:24224
        tag: logger

  logger2:
    image: alpine:latest
    command: sh -c 'while true; do date +"[%a %d %b %Y %T,000 %z] logger2"; echo logger2; done'
    logging:
      driver: fluentd
      options:
        fluentd-address: localhost:24224
        tag: logger
